html,body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.conteiner{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}


/* CSS Cookies */
.cookie-conteiner{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #7d1717;
  justify-content: start;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.003), rgba(0, 0, 0, 0.8)),url('https://orteil.dashnet.org/cookieclicker/img/bgBlue.jpg');
}
.cookie-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#cookie{
  
  width: 40vh;
  height: 40vh;
  background-color: rgba(0, 0, 0,0.1);
  background-image: url('https://orteil.dashnet.org/cookieclicker/img/icon.png');

  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 0;
  
}

#cookie:hover, #cookie:active {
  transform: scale(1.1); /* Aumenta o tamanho do botão em 20%*/
  transition: 0.3s;
}
#cookie:active {
  transform: scale(0.9);
  transition: 0.1s;
  position: relative;
}



.titulo{
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#nomeConfei{
  color: white;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  border-radius: 10px;
  text-align: center;  
}

/********* Contruções *********/


.contruções{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-image: url('https://orteil.dashnet.org/cookieclicker/img/bgBlue.jpg');
}




/*********** Entidades (ou o menu da loja ) ***********/
.entidades{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: #17b8b8;
}
#background-loja{
  display: flex;
  flex-direction: row;
  margin-top: 0;
  width: 100%;
  height: 6%;
  background-image: url('https://orteil.dashnet.org/cookieclicker/img/bgBlue.jpg');
  position: relative;
  align-items: center;
  justify-content: center;
}



#loja{
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;

  background-size: cover;
  position: absolute;
}

#background-loja:before { /* isso serve para escurecer a imagem do background
  ele cria um pseudo elemento por cima escurecido ;*/
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.p-melhorias{
  
  background-image: url('https://orteil.dashnet.org/cookieclicker/img/panelHorizontal.png');
  height:1.8%;
  width: 100%;
  margin: 0;
  text-align: start;
  font-size: 13px;
  color: white;
  
}

.melhorias{
  display: flex;
  width: 100%;
  height: 8%;
  background-image: url('https://orteil.dashnet.org/cookieclicker/img/bgBlue.jpg');
}

.barra{
  width: 1%;
  height: 100%;
  background-image:     url('https://orteil.dashnet.org/cookieclicker/img/panelVertical.png');
  background-size: cover;
}

.menu-personagens{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.003), rgba(0, 0, 0, 0.8)),url('https://orteil.dashnet.org/cookieclicker/img/bgBlue.jpg');
}

.personagens{
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 12%;
  background: #8e8080
}
.personagem_imagem{
  margin: 0;
  width: 25%;
  height: 100%;
  background-image: url('curso.png');
  background-size: cover;
}
.titulo-personagem{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0;
  width: 50%;
  height: 100%;
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
}
.nome-personagem{
  display: flex;
  font-size: 24px;
  width: 100%;
  height: 70%;
  justify-content: start;
  align-items: end;
  margin: 0;
}
.custo-personagem{
  
  margin: 0;
}
.quantidade-personagem{
  width: 25%;
  height: 100%;
  font-size: 24px;
  
}